<a href="https://colab.research.google.com/github/DonaldTurton/iLab2/blob/master/Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount Drive

https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
# Direct the workbook into the project folder

%cd drive/Shared\ drives/ILab2

/content/drive/Shared drives/ILab2

In [ ]:
import os 
dataset_dir = os.getcwd() 
#Check directory
dataset_dir

'/content/drive/Shared drives/ILab2'

In [ ]:
#Check files inside directory
!ls

 DataSets	   'ILab2 Progress.gdoc'   Roberto_Notebooks
 Donald_Notebooks   Modelling

# Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# BITFINEX

## Data Sets

In [ ]:
# CODE TO OPEN MULTIPLE CSV FILES BY. EXCHANGE 
# from glob import glob

# #Data frames from BINANCE exchange
# filenames_Binance = glob(bitcoin_data_directory + '/BINANCE*.csv')
# dataframes_binance = [pd.read_csv(f) for f in filenames_Binance]

# #Name Data Frames 
# binance_day = dataframes_binance[0]
# binance_one = dataframes_binance[1]
# binance_four = dataframes_binance[2]

## CODE TO OPEN MULTIPLE CSV BY FREQUENCY
#Data frames with Daily Interval
# filenames_day = glob(bitcoin_data_directory + '/*1D.csv')
# dataframes_ByDay = [pd.read_csv(f) for f in filenames_day]

### Bitcoin - BITFINEX

In [ ]:
bitcoin_data_directory = dataset_dir + '/DataSets/bitcoin_six_august'

In [ ]:
import glob

#List all csv files in the folder 
for fname in glob.glob(bitcoin_data_directory + '/*.csv'):
    print(fname)

/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/GEMINI_BTCUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/COINBASE_BTCUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BITFINEX_BTCUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BITFINEX_BTCUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BITFINEX_BTCUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/GEMINI_BTCUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/GEMINI_BTCUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/COINBASE_BTCUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/COINBASE_BTCUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BINANCE_BTCUSDT, 60.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BINANCE_BTCUSDT, 240.csv
/content/drive/Shared drives/ILab2/DataSets/bitcoin_six_august/BINANCE_BTCUSDT, 1D.csv

In [ ]:
#BITCOIN FROM BITFINEX Daily Interval 
BIT_BITFINEX_DAY = bitcoin_data_directory + '/BITFINEX_BTCUSD, 1D.csv'

bitcoin_daily = pd.read_csv (BIT_BITFINEX_DAY)
bitcoin_daily

                      time          open  ...        MACD      Signal
0     2013-03-31T00:00:00Z     93.300000  ...         NaN         NaN
1     2013-04-01T00:00:00Z     93.170000  ...         NaN         NaN
2     2013-04-02T00:00:00Z    102.800000  ...         NaN         NaN
3     2013-04-03T00:00:00Z    116.579097  ...         NaN         NaN
4     2013-04-04T00:00:00Z    131.779686  ...         NaN         NaN
...                    ...           ...  ...         ...         ...
2672  2020-07-31T00:00:00Z  11122.785171  ...  483.099125  274.675132
2673  2020-08-01T00:00:00Z  11350.000000  ...  556.748999  331.089905
2674  2020-08-02T00:00:00Z  11805.000000  ...  548.200619  374.512048
2675  2020-08-03T00:00:00Z  11058.838777  ...  549.036431  409.416925
2676  2020-08-04T00:00:00Z  11226.992174  ...  544.190545  436.371649

[2677 rows x 18 columns]

### Ethereum - BITFINEX

In [ ]:
ethereum_data_directory = dataset_dir + '/DataSets/ethereum_six_august'

In [ ]:
import glob

#List all csv files in the folder 
for fname in glob.glob(ethereum_data_directory + '/*.csv'):
    print(fname)

/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/COINBASE_ETHUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/COINBASE_ETHUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/COINBASE_ETHUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BINANCE_ETHUSDT, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BINANCE_ETHUSDT, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BINANCE_ETHUSDT, 60.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BITFINEX_ETHUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BITFINEX_ETHUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/BITFINEX_ETHUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/GEMINI_ETHUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/GEMINI_ETHUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ethereum_six_august/GEMINI_ETHUSD, 60.csv

In [ ]:
#Ethereum FROM BITFINEX Daily Interval 
ETH_BITFINEX_DAY = ethereum_data_directory + '/BITFINEX_ETHUSD, 1D.csv'

ethereum_daily = pd.read_csv(ETH_BITFINEX_DAY) 
ethereum_daily

                      time        open  ...       MACD     Signal
0     2016-06-25T00:00:00Z   14.420000  ...        NaN        NaN
1     2016-06-26T00:00:00Z   14.330000  ...        NaN        NaN
2     2016-06-27T00:00:00Z   13.744000  ...        NaN        NaN
3     2016-06-28T00:00:00Z   14.043000  ...        NaN        NaN
4     2016-06-29T00:00:00Z   12.120000  ...        NaN        NaN
...                    ...         ...  ...        ...        ...
1492  2020-08-02T00:00:00Z  387.030000  ...  32.845376  22.864834
1493  2020-08-03T00:00:00Z  372.060418  ...  35.251732  25.342214
1494  2020-08-04T00:00:00Z  385.770000  ...  37.048031  27.683377
1495  2020-08-05T00:00:00Z  389.630000  ...  38.930382  29.932778
1496  2020-08-06T00:00:00Z  400.730000  ...  39.467960  31.839815

[1497 rows x 18 columns]

### Ripple - BITFINEX

In [ ]:
ripple_data_directory = dataset_dir + '/DataSets/ripple_six_august'

In [ ]:
import glob

#List all csv files in the folder 
for fname in glob.glob(ripple_data_directory + '/*.csv'):
    print(fname)

/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BINANCE_XRPUSDT, 60.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BINANCE_XRPUSDT, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BINANCE_XRPUSDT, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BITFINEX_XRPUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BITFINEX_XRPUSD, 60.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/BITFINEX_XRPUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/COINBASE_XRPUSD, 1D.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/COINBASE_XRPUSD, 240.csv
/content/drive/Shared drives/ILab2/DataSets/ripple_six_august/COINBASE_XRPUSD, 60.csv

In [ ]:
#Ethereum FROM BITFINEX Daily Interval 
XRP_BITFINEX_DAY = ripple_data_directory + '/BITFINEX_XRPUSD, 1D.csv'

ripple_daily = pd.read_csv(XRP_BITFINEX_DAY)
ripple_daily

                      time     open     high  ...  Histogram      MACD    Signal
0     2017-05-19T00:00:00Z  0.37999  0.37999  ...        NaN       NaN       NaN
1     2017-05-20T00:00:00Z  0.32499  0.37199  ...        NaN       NaN       NaN
2     2017-05-21T00:00:00Z  0.34700  0.36998  ...        NaN       NaN       NaN
3     2017-05-22T00:00:00Z  0.32700  0.33580  ...        NaN       NaN       NaN
4     2017-05-23T00:00:00Z  0.29912  0.34991  ...        NaN       NaN       NaN
...                    ...      ...      ...  ...        ...       ...       ...
1171  2020-08-02T00:00:00Z  0.29127  0.32620  ...   0.008237  0.020665  0.012428
1172  2020-08-03T00:00:00Z  0.28792  0.31950  ...   0.009535  0.024347  0.014812
1173  2020-08-04T00:00:00Z  0.31023  0.31900  ...   0.009172  0.026276  0.017105
1174  2020-08-05T00:00:00Z  0.30124  0.30795  ...   0.008380  0.027580  0.019200
1175  2020-08-06T00:00:00Z  0.30239  0.30353  ...   0.007048  0.028010  0.020962

[1176 rows x 18 columns]

## Subset DF

In [ ]:
bit_bit = bitcoin_daily[['time','open', 'close', 'Volume']]
bit_bit = bit_bit.rename(columns={'open': 'BTC_open', 'close': 'BTC_close', 'Volume': 'BTC_vol'})
bit_bit

                      time      BTC_open     BTC_close       BTC_vol
0     2013-03-31T00:00:00Z     93.300000     93.100010    378.155742
1     2013-04-01T00:00:00Z     93.170000    102.370000   4919.654127
2     2013-04-02T00:00:00Z    102.800000    117.989990   9084.832816
3     2013-04-03T00:00:00Z    116.579097    134.952969  12909.402178
4     2013-04-04T00:00:00Z    131.779686    132.681000   6910.100413
...                    ...           ...           ...           ...
2672  2020-07-31T00:00:00Z  11122.785171  11350.000000   5830.145883
2673  2020-08-01T00:00:00Z  11350.000000  11804.744013  10574.542594
2674  2020-08-02T00:00:00Z  11805.000000  11053.772562  13217.636459
2675  2020-08-03T00:00:00Z  11058.838777  11226.521728   4085.500508
2676  2020-08-04T00:00:00Z  11226.992174  11236.000000    943.231700

[2677 rows x 4 columns]

In [ ]:
eth_bit = ethereum_daily[['time','open', 'close', 'Volume']]
eth_bit = eth_bit.rename(columns={'open': 'ETHER_open', 'close': 'ETHER_close', 'Volume': 'ETHER_vol'})
eth_bit

                      time  ETHER_open  ETHER_close      ETHER_vol
0     2016-06-25T00:00:00Z   14.420000    14.330000   59370.261094
1     2016-06-26T00:00:00Z   14.330000    13.754000   61784.867363
2     2016-06-27T00:00:00Z   13.744000    14.031000   39441.587446
3     2016-06-28T00:00:00Z   14.043000    12.114000  260077.774488
4     2016-06-29T00:00:00Z   12.120000    12.620000  136304.155176
...                    ...         ...          ...            ...
1492  2020-08-02T00:00:00Z  387.030000   371.870000  322415.937958
1493  2020-08-03T00:00:00Z  372.060418   385.680000  126895.684080
1494  2020-08-04T00:00:00Z  385.770000   389.600000  121244.381729
1495  2020-08-05T00:00:00Z  389.630000   400.846963  109152.039462
1496  2020-08-06T00:00:00Z  400.730000   394.660000   20876.757879

[1497 rows x 4 columns]

In [ ]:
xrp_bit = ripple_daily[['time','open', 'close', 'Volume']]
xrp_bit = xrp_bit.rename(columns={'open': 'XRP_open', 'close': 'XRP_close', 'Volume': 'XRP_vol'})
xrp_bit

                      time  XRP_open  XRP_close       XRP_vol
0     2017-05-19T00:00:00Z   0.37999    0.32498  2.130933e+06
1     2017-05-20T00:00:00Z   0.32499    0.34716  3.608873e+06
2     2017-05-21T00:00:00Z   0.34700    0.32700  2.597807e+06
3     2017-05-22T00:00:00Z   0.32700    0.29717  6.474949e+06
4     2017-05-23T00:00:00Z   0.29912    0.32158  3.255225e+06
...                    ...       ...        ...           ...
1171  2020-08-02T00:00:00Z   0.29127    0.28764  9.968299e+07
1172  2020-08-03T00:00:00Z   0.28792    0.30974  4.432413e+07
1173  2020-08-04T00:00:00Z   0.31023    0.30124  2.510823e+07
1174  2020-08-05T00:00:00Z   0.30124    0.30239  1.883987e+07
1175  2020-08-06T00:00:00Z   0.30239    0.29891  4.530456e+06

[1176 rows x 4 columns]

## Merge

In [ ]:
# Data frames for each coin from BITFINEX
#bit_bit 2,677 observations
#eth_bit 1,497 observations
#xrp_bit 1,176 observations

In [ ]:
bit_eth = pd.merge(bit_bit, eth_bit, how='left', on=['time'])
data = pd.merge(bit_eth, xrp_bit, how='left', on=['time'])
data

                      time      BTC_open  ...  XRP_close       XRP_vol
0     2013-03-31T00:00:00Z     93.300000  ...        NaN           NaN
1     2013-04-01T00:00:00Z     93.170000  ...        NaN           NaN
2     2013-04-02T00:00:00Z    102.800000  ...        NaN           NaN
3     2013-04-03T00:00:00Z    116.579097  ...        NaN           NaN
4     2013-04-04T00:00:00Z    131.779686  ...        NaN           NaN
...                    ...           ...  ...        ...           ...
2672  2020-07-31T00:00:00Z  11122.785171  ...    0.25983  1.913230e+07
2673  2020-08-01T00:00:00Z  11350.000000  ...    0.29103  5.774864e+07
2674  2020-08-02T00:00:00Z  11805.000000  ...    0.28764  9.968299e+07
2675  2020-08-03T00:00:00Z  11058.838777  ...    0.30974  4.432413e+07
2676  2020-08-04T00:00:00Z  11226.992174  ...    0.30124  2.510823e+07

[2677 rows x 10 columns]

In [ ]:
#Drop NA 
data = data.dropna()
len(data) #1,174 observations after removing NA

1174

# Lag the predictor variables 7 days

In [ ]:
data

                      time      BTC_open  ...  XRP_close       XRP_vol
1503  2017-05-19T00:00:00Z   1941.900000  ...    0.32498  2.130933e+06
1504  2017-05-20T00:00:00Z   1966.500000  ...    0.34716  3.608873e+06
1505  2017-05-21T00:00:00Z   2059.300000  ...    0.32700  2.597807e+06
1506  2017-05-22T00:00:00Z   2027.000000  ...    0.29717  6.474949e+06
1507  2017-05-23T00:00:00Z   2087.300000  ...    0.32158  3.255225e+06
...                    ...           ...  ...        ...           ...
2672  2020-07-31T00:00:00Z  11122.785171  ...    0.25983  1.913230e+07
2673  2020-08-01T00:00:00Z  11350.000000  ...    0.29103  5.774864e+07
2674  2020-08-02T00:00:00Z  11805.000000  ...    0.28764  9.968299e+07
2675  2020-08-03T00:00:00Z  11058.838777  ...    0.30974  4.432413e+07
2676  2020-08-04T00:00:00Z  11226.992174  ...    0.30124  2.510823e+07

[1174 rows x 10 columns]

In [ ]:
# Duplicate the bitcoin variables before lagging
data['BTC_open_dup'] = data['BTC_open']
data['BTC_close_dup'] = data['BTC_close']
data['BTC_vol_dup'] = data['BTC_vol']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# Remove the BTC open and BTC vol variables before lagging as they  can't be used for this type of modelling strategy. 
data = data.drop(['BTC_open', 'BTC_vol'], axis = 1)

data

                      time     BTC_close  ...  BTC_close_dup   BTC_vol_dup
1503  2017-05-19T00:00:00Z   1966.500000  ...    1966.500000  23001.542773
1504  2017-05-20T00:00:00Z   2059.300000  ...    2059.300000  21690.022393
1505  2017-05-21T00:00:00Z   2026.600000  ...    2026.600000  17221.878675
1506  2017-05-22T00:00:00Z   2087.300000  ...    2087.300000  57231.824243
1507  2017-05-23T00:00:00Z   2249.600000  ...    2249.600000  22521.559138
...                    ...           ...  ...            ...           ...
2672  2020-07-31T00:00:00Z  11350.000000  ...   11350.000000   5830.145883
2673  2020-08-01T00:00:00Z  11804.744013  ...   11804.744013  10574.542594
2674  2020-08-02T00:00:00Z  11053.772562  ...   11053.772562  13217.636459
2675  2020-08-03T00:00:00Z  11226.521728  ...   11226.521728   4085.500508
2676  2020-08-04T00:00:00Z  11236.000000  ...   11236.000000    943.231700

[1174 rows x 11 columns]